body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #0D0C1C;
  text-align: left;
  background-color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}
a{
	/*color: #052A5A;*/
	color: #EDA71F;
}

a:hover {
	text-decoration: underline;
	color: #EDA71F;
}

a.readmore-js-toggle {
  font-weight: 600;
  padding-top: 10px;
  text-decoration: revert;
}
a.navbar-brand {
  font-weight: 800;
  font-size: 22px;
  /*color: #052A5A!important;*/
  color: #000!important;
}
  .mt-md-60 {
    margin-top: 60px!important;
  }
  .mt-md-80 {
    margin-top: 80px!important;
  }
  .mt-md-100 {
    margin-top: 100px!important;
  }
  .mt-md-120 {
    margin-top: 120px!important;
  }
  .pl-md-20{
    padding-left: 20px;
  }
.btn {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  
  padding: 17px;
  border-radius: 8px;
}
a.btn.btn-orange:hover ,.btn-black:hover{
  color: #fff;
}
.btn:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  text-decoration: none !important;
}

.btn-white {
  border: 1px solid;
  color: #052A5A;
}
.btn-orange{
  color: #fff;
  background: #EDA71F;
}
.btn-black {
  border: 1px solid #fff;
  color: #fff;
  background: #000;
}
.section-heading {
  margin-bottom: 54px;
}
h2{
  font-weight: bold;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
}
h2.title {
  line-height: normal;
  font-weight: bold;
  font-size: 36px;
}
.color-blue{
  color: #052A5A!important;
}
.color-black{
  color: #0D0C1C!important;
}
.container {
	max-width: 1280px;
}
/*style-menu*/
.navbar-expand-md .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #0D0C1C;
  border-right: 1px solid #052A5A;
  padding: 0px 26px;
}
.header.header-fixed {
  position: fixed;
  width: 100%;
  background: #052A5A;
  z-index: 99999;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.12);
}
.header-fixed  nav.navbar.navbar-expand-md {
  background: #052A5A!important;
  color: #fff;
}
.header-fixed a.navbar-brand {
  color: #fff!important;
}

.header,nav.navbar.navbar-expand-md {

}
.navbar-expand-md {
  min-height: 60px;
}
select.select-language {
  margin-left: 24px;
  border: 0;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
}
.nice-select.select-language {
  border: 0;
  font-weight: 600;
}
select.select-language:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

/*style-banner*/
.banner{
  color: #F9F9F9;
}

.banner-content {
  padding: 150px 80px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner h1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 700;
}
.banner h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}
.banner span{
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}

/*style-servises*/

.section-heading .wrap-button {
  margin-left: 60px;
      margin-top: 0!important;
}
.content-servises ul {
  list-style-type: none;
  padding-left: 0;
}
.content-servises li {
  margin-bottom: 12px;
}
.title-servises h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
}
.title-servises{
  display: block;
  position: relative;
}
.title-line:before{
  content: '';
  position: absolute;
  width: 64px;
  height: 2px;
  right: 0;
  top: 12px;
  background: #0D0C1C;
}



/*style confidence*/
.confidence img {
  max-width: 260px;
  width:100%;
}
/*style benefits*/
.item-benefits {
  padding: 10px 10px;
}
.title-benefits {
  margin-bottom: 20px;
}
.title-benefits h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 120%;
  min-height: 62px;
}
.benefits .col-md-4 {
  margin-bottom: 80px;
}

.img-benefits {
  width: 88px;
  margin-right: 40px;
}
/*style map*/
#Map {
  height: 460px;
}
.wraper-maps {
  border-radius: 8px;
  overflow: hidden;
}

.arrow{
  position: relative;
}
.arrow:before {
    content: '';
    background-image: url(../img/arrow.svg);
    width: 110px;
    height: 8px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 8px;
    background-position-x: right;
}


/*style footer*/

.banks .img {

  margin: 10px auto;
  padding: 5px;
}

.footer {
  color: #F9F9F9;
  background-color: #052A5A;
  padding: 60px 0 30px;
}

.footer a:hover {
	text-decoration: underline;
}

.footer ul{
	list-style-type: none;
  padding-left: 0;
}

.footer li{
	padding-bottom: 7px;
}

.logo-footer p {
  font-weight: 800;
  font-size: 36px;
  color: #fff !important;
}

.logo-footer a:hover {
	text-decoration: none;
}

.copyright {
  margin-top: 50px;
}
.navbar-toggler-icon {
  background-image: url(../img/toggler-icon.svg);
}
.header-fixed .navbar-toggler-icon {
  background-image: url(../img/toggler-icon-w.svg);
}
.navbar-light .navbar-toggler {
  border: 0;
  padding: 0;
}


/*style modal*/
.modal-dialog {
  max-width: 100%;
  margin: 0;
}
.modal {
  padding-right: 0!important;
}
.modal-header {
  border: 0;
}
.modal-content {
  border-radius: 0;
  height: 100vh;
  border: 0;
}
.modal-header {
  border-radius: 0;
  border: 0;
}
.modal-header .close {
  padding: 7rem 3rem;
  margin: -1rem -1rem -1rem auto;
  opacity: 1;
}
.modal-header .close span{
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 40px;
  height: 40px;
}
.success h2 {
  margin: 24px 0 16px;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-size: 44px;
}
.success{
  display: none;
}
/*style form*/
.form-control {
  border-color: #0D0C1C;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 18px;
  border-width: 2px;
  padding: 0;
  height: inherit;
}
select.form-control {
  margin-top: 3.4px;
}
.form-control:focus,.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  color: #0D0C1C;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: none;
}

* {
  box-sizing: border-box;
}


.form-item {
  position: relative;
  margin-bottom: 10px;
}

label {
  position: absolute;
  left: 10px;
  top: 0;
  transition: top 0.5s;
  font-size: 18px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

input:focus,
textarea:focus {
  outline: none;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
}

input:focus+label,
textarea:focus+label,
.ui-placeholder+label,
.nice-select.form-control:focus+label{
  top: -23px;
}

::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-webkit-input-placeholder,
.nice-select.form-control:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

form .btn-orange {
  width: 160px;
}
.form-row>.col, .form-row>[class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
form .nice-select.form-control {
  border: solid 2px #0d0c1c;
  border-radius: 0;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  font-size: 18px;
  padding-left: 0;
  width: 100%;
  margin-top: -5px;
  height: 35px;
  z-index: 9999;
}
form .nice-select .list {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
border-radius: 1px 1px 8px 8px;
  margin-top: 2px;
  width: 100%;
  height: 166px;
  overflow: auto;
  scrollbar-color: var(--scrollbar) transparent;
}
form .nice-select.form-control li:nth-child(1){
  display: none;
}
.nice-select.open .list::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.nice-select.open .list::-webkit-scrollbar
{
  width: 1px;
  background-color: #F5F5F5;
}

.nice-select.open .list::-webkit-scrollbar-thumb
{
  background-color: #052A5A;
}
footer .col-md-4 .footer-img {
  width: 220px;
}

/*style responsive*/
@media only screen and (min-width : 1200px) and (max-width : 1500px)  {
section.banner {
    padding: 0 50px;
}
}
@media (min-width: 1200px){

  .banner h1 {
    font-size: 36px;
  }

  .header-fixed .nice-select.select-language {
    display: none;
  }
.arrow:before {
    width: 148px;
    right: -30px;
    top: 8px;
}
  section.banner .container {
    padding: 0;
  }
  .header-fixed select.select-language {
    display: none;
  }
  .header-fixed .navbar-expand-md .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-right: 0;
    padding: 12px 26px;
    border: 1px solid;
    border-radius: 8px;
  }
  .header-fixed li.nav-item {
    margin: 8px 0px 8px 60px;
  }
  .servises .col-md-4,.conditions .col-md-4{
      padding-left: 100px;
}
 .step .col-md-4 {
    padding-left: 60px;
}
.title-line:before {
    right: -90px;
    width: 136px;
}
.conditions .col-md-4:nth-child(1) .title-line:before {
    right: -0px;
}
.benefits .col-md-4 {
    padding-left: 80px;
}

.confidence-item-2 .section-heading {
    padding-left: 70px;
}
footer .col-md-4 {
    padding-left: 100px;
}

}
@media (max-width: 768px){
  .mt-20 {
    margin-top: 20px!important;
  }
  .mt-40 {
    margin-top: 40px!important;
  }
  .mt-60 {
    margin-top: 60px!important;
  }
  .mt-80 {
    margin-top: 80px!important;
  }
  .mt-100 {
    margin-top: 100px!important;
  }
  .mt-120 {
    margin-top: 120px!important;
  }
  .header-fixed .navbar-expand-md .navbar-nav .nav-link,.header-fixed .navbar-expand-md  a {
    color: #fff!important;
  }
  .header-fixed .nice-select.select-language {
    background-color: #000;
  }

  .header-fixed .nice-select .list {
    background-color: #000;
  }
  header.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
  }
  .banner {
    color: #F9F9F9;
    padding-top: 60px;
  }

  .banner h1 {
    font-size: 36px;
  }
  .banner-content {
    padding: 120px 20px;
    border-radius: 0px;
    position: relative;
    background-position: center!important;
  }
  .banner-content:after{
    content: "";
    background-image: url(../img/arrow2.svg);
    width: 32px;
    height: 22px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner h2{
    font-style: 14px;
  }
  .banner span{
    font-style: 12px;
  }
  section.banner .container {
    padding: 0;
  }


  a.mail-header {
    font-weight: 500;
    font-size: 18px;
  }
  .navbar-collapse.collapse.show{
    margin-bottom: 30px;
  }
  select.select-language {
    font-weight: 600;
    font-size: 18px;
  }
  .footer img {
    width: 100%;
  }
  .img-payment img {
    width: 50px;
}
  h2 {
    font-size: 22px;
  }
  h2.title{
    text-align: center;
    font-size: 22px;
  }
  a.btn{
    width: 100%;
    max-width: 320px;
  }

  .wrap-button {
    text-align: center;
  }
  .section-heading {
    margin-bottom: 40px;
  }
  .title-servises h3 {
    font-size: 20px;
  }
  .servises .col-md-4,.conditions .col-md-4 {
    margin-bottom: 20px;
  }
  .title-line:before{
    display: none;
  }
  .confidence h2.title {
    text-align: left;
    margin-top: 24px;
  }
  .benefits h2.title {
    text-align: left;
  }
  .title-benefits h3{
    font-size: 22px;
  }
  .benefits .col-md-4{
    margin-bottom: 40px;
    border-left: 0;
  }
.img-benefits {
    margin-right: 10px;
}
  .wraper-maps {
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 0;
  }
  .step .col-md-4 {
    margin-bottom: 60px;
        text-align: center;
  }
  .step .col-md-4:nth-child(3) {
    margin-bottom: 30px;
  }
  .arrow:before {
display: none;
  }
  .footer{
    padding: 40px 0 0px;
  }
  .footer .col-md-4 {
    margin-bottom: 40px;
  }
  .footer p.pl-md-20 {
    font-weight: 600;
    font-size: 18px;
  }
  .modal-content {
    height: 100%;
  }
  .modal-header .close span {
    width: 30px;
    height: 30px;
  }
  .modal-header .close {
    padding: 74px 17px 4px;
  }
  label,.form-control {
    font-size: 16px;
  }
  .form-control {
    border-width: 1px;
  }
  form .btn-orange {
    width: 100%;
  }
  .nice-select.form-control {
    font-size: 16px;
  }

}
@media (max-width: 760px){
    .navbar-expand-md .navbar-nav .nav-link {
    font-weight: bold;
    font-size: 24px;
    border-right: 0;
    padding: 0;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
    li.nav-item {
    margin-top: 24px;
  }
    .nice-select.select-language {
    margin-top: -12px;
  }
  .section-heading .wrap-button {
    margin-left: 0px;
}
.arrow:before {
    bottom: -50px;
    display: block;
    top: inherit;
    background-image: url(../img/arrow3.svg);
    width: 10px;
    height: 36px;
    left: 50%;
    transform: translateX(-50%);
}
}
