@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'gilroy', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  background-color: #E5E5E5;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product_form {
  width: 440px;
  height: 535px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 60px #E2E7FF;
          box-shadow: 10px 10px 60px #E2E7FF;
  border-radius: 0px 50px 50px 50px;
  margin: 5% 7%;
  padding: 35px;
  position: relative;
}

.product_form__header {
  font-weight: 700;
  font-size: 18px;
  color: #1C154E;
  margin: 0 0 12px;
}

.product_form__description {
  font-weight: 500;
  font-size: 16px;
  color: #494471;
  display: block;
  margin: 0 0 12px;
}

.product_form__data {
  display: block;
  border: none;
  border-bottom: 1.5px solid #E1E3EE;
  width: 100%;
  padding: 0 0 7px;
  margin-bottom: 15px;
  outline: none;
}

.product_form__data::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #D0D3E2;
}

.product_form__data::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #D0D3E2;
}

.product_form__data:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #D0D3E2;
}

.product_form__data::-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #D0D3E2;
}

.product_form__data::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #D0D3E2;
}

.product_form__content--wrapper {
  overflow-y: hidden;
  height: 358.34px;
  margin-bottom: 24px;
}

.product_form__content--wrapper::-webkit-scrollbar {
  width: 4px;
  height: 358.34px;
  background: #E1E3EE;
  border-radius: 5px;
}

.product_form__content--wrapper::-webkit-scrollbar-thumb {
  height: 36.14px;
  background: #23C967;
  border-radius: 5px;
}

.product_form__button {
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 19px;
}

.product_form__group {
  margin-right: 16px;
}

.main_form {
  margin-right: 16px;
}

.product_name {
  margin-top: 10px;
}

.add_more {
  color: #23C967;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.green_button {
  background-color: #23C967;
}

.secure {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secure_txt {
  font-size: 14px;
  font-weight: 400;
  color: #AFB4CC;
  margin: 0 0 0 3px;
}

.choise_products {
  border: 1.5px solid #E1E3EE;
  border-radius: 15px;
  margin-bottom: 23px;
}

.choise_products__item {
  border-bottom: 1.5px solid #E1E3EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 17px;
  height: 60px;
}

.choise_products__item--check {
  margin: 0;
}

.choise_products__item:first-child {
  background-color: #F4F5FA;
  border-radius: 15px 15px 0 0;
}

.choise_products__item:first-child .prod_quant__discount {
  color: #23C967;
}

.choise_products__item:last-child {
  border-bottom: none;
  border-radius: 0 0 15px 15px;
}

.choise_products__item:hover {
  background-color: #F4F5FA;
}

.choise_products__item--check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.choise_products__item--check + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.choise_products__item--check + label::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1.5px solid #E1E3EE;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.choise_products__item--check:checked + label::before {
  width: 22px;
  height: 22px;
  border: 1.5px solid #E1E3EE;
  border-radius: 50%;
  background-image: url(./../img/checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px;
}

.prod_quant {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.prod_quant__descript {
  margin: 0 0 5px 0;
}

.prod_quant__discount {
  font-weight: normal;
  font-size: 13px;
  color: #A7A2CB;
  display: block;
}

.prod_quant__txt_wrap {
  margin-left: 17px;
}

.scroll {
  width: 4px;
  height: 358.34px;
  background: #E1E3EE;
  border-radius: 5px;
  position: relative;
  left: 32px;
}

.scroll__thumb {
  width: 4px;
  height: 36.14px;
  background: #23C967;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.dots {
  background-image: url(./../img/dots.svg);
  width: 103px;
  height: 118px;
  position: absolute;
  top: 36px;
  right: 76px;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

/*# sourceMappingURL=maps/main.css.map */
